:not(.layout-fixed) .main-sidebar {
    height: 100vh;
    min-height: 100%;
    position: absolute;
    top: 0;
    overflow-x: hidden !important;
}

.btn-hidden{
    border: none !important;
    background-color: transparent !important;
}
.btn-hidden .fa{
    color: tomato;
    transform: scale(1.8);
}

.card-primary:not(.card-outline)>.card-header{
    background: #3f586e !important;
}
.active{
    background: #0e3c61  !important;
}
.btn-primary{
    color: #fff;
    background-color: #171f27 !important;
    border-color: #bac5d1 !important;
    box-shadow: none;
}
.btn-info{
    
    color: #fff;
    background-color: #003248 !important;
    border-color: #e7f3ff !important;
    box-shadow: none;

}
.card-header{
    background-color: #65636382  !important;
    color: white !important;
}
.card-header h3{
    color: white
}
.add_button{
    background: #f9b042;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn-delete{
    background: #eb4848;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
}
.btn-edit{
    background: #0e3c61;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-confirm{
    background: #177ca0;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.show-btn{
    background: #177ca0;
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-light {
    background-color: #1d629f !important;
}
.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: #19568b !important;
}
[class*=sidebar-dark-] {
    background-color: white !important;
}
.active {
    background: #19568bb0  !important;
    border-radius: 20px;
}
.active a {
    color: white !important;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus{
    color: black
}
[class*=sidebar-dark-] .sidebar a {
    color: #164f81;
    font-weight: bold;
}